<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="apiTestSuite">

	<test name="LoginModule">
    <classes>
      <class name="api.tests.LoginUserTest"/>
    </classes>
  </test>

  <test name="UserModule">
    <classes>
      <class name="api.tests.CreateUserTest"/>
    </classes>
  </test> 
  
</suite> 
